/**
 CSS dùng chung

*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-family:'Roboto', Times, serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container:after{
    content: "";
    display: table;
    clear: both;
}
header{
    background-color: #06bcb0;
}
footer{
    background-color: #7FFF00;
}

header, footer {
    /* background-color: #06bcb0; */
    color: #fff;
    padding: 30px 0;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

nav>ul{
    display: flex; 
    gap: 50px;
}
.thongso table{
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}
.thongso table tr td{
    padding: 10px;
    text-align: left;
    width: 60%;
}
.thongso table tr:nth-child(2n+1) td{
    background-color: rgb(248, 245, 241);
}
.thongso table tr td:first-child{
    width: 36%;
}

.viewmore{
    text-align: center;
}
.viewmore a{
    text-align: center;
    border: 1px solid rgb(28, 130, 247);
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 70%;
    margin: 10px auto;
    color: rgb(28, 130, 247);
}
.viewmore a:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgb(28, 130, 247) ;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;

}